<% layout("/layouts/boilerplate") %>

    <div class="form_container">
        <p class="title">Register</p>
        <form class="form" method="post"  action="/login" >
            
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="create password">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
                </div>
            </div>
            <button class="sign">Log in</button>
        </form>
        
        <p class="signup mt-3">Don't have an account?
            <a rel="noopener noreferrer" href="/signup" class="">Sign up</a>
        </p>
    </div>
